@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-unique : 'Unique', sans-serif;

    /* Colors */
    --color-surface: #D4C9C7;
    --color-ink: #051822;
    --color-accent: #AA7452;
    --color-accent-dark: #7C5841;
    --color-muted: #2D383E;
    --color-border-soft: #969A9E;
}

@layer base {
    body {
        background-color: var(--color-surface);
        color: var(--color-ink);
    }

    @font-face {
        font-family: 'Unique';
        src: url('/resources/fonts/Unique-SemiBold.woff2') format('woff2'),
            url('/resources/fonts/Unique-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-display: swap;
    }
}
